// @import("./resets");
.list
    list-style-type none

    li
        margin-top 15px
    .list-item-container
        display inline-block
        position relative
    
    &.list-horizontal
        li
            display inline-block
            margin 0
            padding 0 15px
            border-left 2px solid black

            &:first-of-type
                border-left 0

    &.powers-list
        li
            display inline-block
            margin-left 20px
    &.list-newest-superheroes
        img
            width: 150px

.hero-info-container
    position relative
    display inline-block
    vertical-align bottom
    
.hero-info
    width 100%

    padding 15px 5px
    position absolute;
    bottom 0
    
    background-color rgba(0, 0, 0, .4)
    color white

a.alignment.Good
a.alignment.good
    color: green

a.alignment.Evil
a.alignment.evil
    color: red

a.alignment.neutral
a.alignment.Neutral
    color: blue

.superhero-avatar
    height 550px

.navbar-header
.collapse.navbar-collapse
    display inline-block !important
    float none


.btn-sign-out
    border none
    background none
    color black

.profile-image
    width: 100%;