.list {
  list-style-type: none;
}
.list li {
  margin-top: 15px;
}
.list .list-item-container {
  display: inline-block;
  position: relative;
}
.list.list-horizontal li {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  border-left: 2px solid #000;
}
.list.list-horizontal li:first-of-type {
  border-left: 0;
}
.list.powers-list li {
  display: inline-block;
  margin-left: 20px;
}
.list.list-newest-superheroes img {
  width: 150px;
}
.hero-info-container {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}
.hero-info {
  width: 100%;
  padding: 15px 5px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}
a.alignment.Good,
a.alignment.good {
  color: #008000;
}
a.alignment.Evil,
a.alignment.evil {
  color: #f00;
}
a.alignment.neutral,
a.alignment.Neutral {
  color: #00f;
}
.superhero-avatar {
  height: 550px;
}
.navbar-header,
.collapse.navbar-collapse {
  display: inline-block !important;
  float: none;
}
.btn-sign-out {
  border: none;
  background: none;
  color: #000;
}
.profile-image {
  width: 100%;
}
