extends ../_layout
include ../_mixins/_superheroes-list

block content
    .text-center
        form.form-inline(action="/search" method="GET")
            input.form-control(type="text" name="pattern" value=params.pattern)
            button.btn.btn-danger Search
    +superheroes-list(model.superheroes)