mixin hero-info(superhero)
    .hero-info-container.text-center
        img.superhero-avatar(src=superhero.imageUrl)
        .hero-info
            strong
                =   superhero.name + " (" + superhero.secretIdentity + ")"
            br
            |Alignment: 
            a.alignment(href= "/superheroes?alignment=" + superhero.alignment class=superhero.alignment) 
                = superhero.alignment
            br
            a.btn.btn-danger(href= "/superheroes/" + superhero.id)
                | View more
            if user
                if superhero.isInFavorites
                    form.ajax-form.add.hidden(action="/superheroes/add-to-favorites", method="post")
                        input(type="hidden" name="superheroId" value="" + superhero._id)
                        button.btn.btn-danger
                            | Add to favorites
                    form.ajax-form.remove(action="/superheroes/remove-from-favorites", method="post")
                        input(type="hidden" name="superheroId" value="" + superhero._id)
                        button.btn.btn-danger
                            | Remove to favorites
                else
                    form.ajax-form.add(action="/superheroes/add-to-favorites", method="post")
                        input(type="hidden" name="superheroId" value="" + superhero._id)
                        button.btn.btn-danger
                            | Add to favorites
                    form.ajax-form.remove.hidden(action="/superheroes/remove-from-favorites", method="post")
                        input(type="hidden" name="superheroId" value="" + superhero._id)
                        button.btn.btn-danger
                            | Remove to favorites
                    