mixin site-navigation(user)
    nav.navbar.navbar-default
        .container-fluid.text-center
            .navbar-header
                button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
                    span.sr-only 
                        | Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.btn-sign-outnavbar-brand(href="/") 
                    | The Superheroes Universe
            #navbar-collapse.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href="/superheroes")
                            | Superheroes
                    li
                        a(href="/fractions") 
                            | Fractions
                    li
                        a(href="/users")
                            | Users
                    if user
                        li.dropdown
                            a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                                = user.username
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href="/users/" + user.username) 
                                        | View profile
                                li
                                    form(action="auth/sign-out" method="post")
                                        button.btn.btn-sign-out
                                            | Sign out
                    else
                        li.dropdown
                            a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                                | User
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href="/auth/sign-up") 
                                        | Sign up
                                li
                                    a(href="/auth/sign-in")
                                        | Sign in
                    li
                        form.form-inline(action="/search" method="get")
                            input.form-control(type="text" name="pattern")
                            button.btn.btn-danger
                                span.glyphicon.glyphicon-search